* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    position: relative;
    line-height: 52px;
    font-size: 16px;
    color: #fff;
    padding: 0 40px;
    background-image: linear-gradient(to right, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 700;
}

.button:hover {
    transform: scale(1.05);
}

body {
    font-family: lato, sans-serif;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.heading__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.imgbox img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

/*===================================================== Header Top =====================================================*/
/*===================================================== Header Top =====================================================*/

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424551;
    padding-top: 20px;
    padding-bottom: 140px;
}

.header {
    font-weight: 700;
    background: url("../assets/img/1header/Group2.svg") 50% 33% /2050px no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.header__logo {
    transition: 0.3s;
}

.header__logo:hover {
    transform: scale(1.05);
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    white-space: nowrap;
}

.header__nav-item {
    margin-right: 40px;
    line-height: 1.6;
}


.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-item:first-child {
    margin-left: 60px;
}

.header__btnbox {
    line-height: 1.6;
    white-space: nowrap;
}

.header__button {
    margin: 0px 36px;
}

.header__button-log {
    margin-left: 8px;
    transition: all 0.3s;
}

.header__button-log:hover {
    color: #FF3F3A;
}

.header__button-registr {
    transition: all 0.3s;
}

.header__button-registr:hover {
    color: #FF3F3A;
}

.header__btnbox-img {
    vertical-align: text-bottom;
}

.header__nav-link:hover {
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

/*===================================================== Header Main =====================================================*/
/*===================================================== Header Main =====================================================*/

.header__main-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content-btnbox {
    display: flex;
}

.header__content-play {
    display: inline-block;
    font-size: 14px;
    padding: 16px 0px;
    cursor: pointer;
    background-color: transparent;
}

.header__play-btn {
    border-radius: 50%;
    transition: 0.3s;
}

.header__play-btn:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 63, 58, 0.12);
}

.header__play-text {
    line-height: 52px;
    margin-left: 16px;
    color: #1E212C;
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 130%;
    max-width: 496px;
    margin: 24px 0px 60px 0px;
    color: #1E212C;
    white-space: nowrap;
}

.button--empty {
    margin-right: 24px;
    z-index: 0;
}

.button--empty:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: #ffdad5;
    border-radius: 3px;
    height: 50px;
    width: 146px;
}

.button--empty:before {
    content: "About us";
    position: absolute;
    z-index: 1;
    background-color: #F75E05;
    background-image: linear-gradient(90deg, #FF3F3A, #F75E05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__image-box {
    margin-left: 30px;
    max-width: 602px;
    width: 100%;
}
.header__main-img {
    width: 100%;
    min-width: 240px;
    object-fit: contain;
}
.header__statist-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    white-space: nowrap;
    margin-top: 189px;
    padding-bottom: 80px;
    gap: 130px;
}

.header__statist-item {
    display: flex;
    align-items: center;
    position: relative;
}

.header__statist-item>span {
    font-size: 46px;
    font-weight: 900;
    margin-right: 12px;
    line-height: 60px;
}

.header__statist-item:after {
    content: "";
    position: absolute;
    left: calc(100%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FF3F3A;
    margin: 0px 70px;
}

.header__statist-item:last-child:after {
    display: none;
}

/*===================================================== Main =====================================================*/
/*===================================================== Main =====================================================*/

/*===================================================== About Us=====================================================*/
/*===================================================== About Us=====================================================*/

.about__inner {
    color: #1E212C;
}

.about__createx {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 180px 0px;
}

.about__createx-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 60px;
    width: 600px;
}

.about__createx-text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 48px;
    margin-bottom: 24px;
    width: 600px;
}

.about__createx-img {
    margin-left: 30px;
}

.button--about-empty:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 3px;
    height: 50px;
    width: 191px;
}

.button--about-empty:before {
    content: "Explore events";
    position: absolute;
    z-index: 1;
    background-color: #F75E05;
    background-image: linear-gradient(90deg, #FF3F3A, #F75E05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button--about-empty {
    margin-right: 24px;
}

.about__item span {
    font-size: 46px;
    font-weight: 900;
    margin-right: 16px;
    margin-left: 30px;
    line-height: 60px;
    color: #FF3F3A;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.about__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 62px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.about_values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.about__createx::before {
    content: '';
    position: absolute;
    background: url("../assets/img/2aboutus/shapes.svg") 0% 0% /cover no-repeat;
    top: -107px;
    right: -139px;
    width: 88px;
    height: 80px;
}

/*=====================================================Direction=====================================================*/
/*=====================================================Direction=====================================================*/

.direction-heading {
    text-align: center;
    white-space: nowrap;
}

.direction__list {
    display: flex;
    gap: 45px;
    margin-top: 90px;
    margin-bottom: 56px;

}

.direction__item {}

.direction__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    padding: 1px 8px;
    background-color: transparent;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    transition: 0.3s;
    white-space: nowrap;
}

.direction__button:hover {
    background-color: #FF3F3A;
    color: #fff;
    cursor: pointer;
    border: 1px solid #FF3F3A;
}

.direction__button--active {
    background-color: #FF3F3A;
    color: #fff;
    border: 1px solid #FF3F3A;
}

.direction__grid {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 420px);
    grid-gap: 30px;
    margin-bottom: 178px;
}

.direction__grid-item:hover span {
    color: #FF3F3A;
    transition: 0.3s;
}

.direction__grid-item {
    transition: 1s;
}

.direction__grid-item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: 0.3s;
}

.direction__grid-img {
    border-radius: 4px 4px 0px 0px;
}

.direction__grid-button {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    padding: 1px 8px;
    border-radius: 4px;
}

.direction__grid-arrow span {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin-right: 11px;
    transition: 1s;
}

.direction__grid-arrow span,
img {
    vertical-align: middle;
}

.direction__grid-arrow {
    display: inline-block;
    cursor: pointer;
}

.direction__grid-button--green {
    background: #03CEA4;
}

.direction__grid-button--blue {
    background: #5A87FC;
}

.direction__grid-button--orange {
    background: #F89828;
}

.direction__grid-button--pink {
    background: #F52F6E;
}

.direction__grid-button--violet {
    background: #7772F1;
}

.direction__grid-item--empty {
    background-color: #F4F5F7;
    border-radius: 4px;
}

.direction__grid-text--empty {
    display: inline-block;
    text-align: center;
    width: 242px;
    margin-top: 164px;
    margin-left: 74px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
}

.direction__grid-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin-top: 21px;
    margin-bottom: 20px;
}

.direction__inner {
    position: relative;
}

.direction__inner:before {
    position: absolute;
    content: '';
    background: url("../assets/img/3weteach/decor_dots.svg") 0px 0px /cover no-repeat;
    width: 136px;
    height: 115px;
    left: -162px;
    top: 19px;
}

.direction__inner:after {
    position: absolute;
    content: '';
    background: url("../assets/img/3weteach/Group.svg") 0px 0px /cover no-repeat;
    width: 242px;
    height: 242px;
    right: -483px;
    top: 382px;
    opacity: 0.12;
}

.direction__border {
    border: 1px solid #E5E8ED;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    padding: 24px;
}

/*=====================================================Certificate=====================================================*/
/*=====================================================Certificate=====================================================*/

.cert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cert__textBox {
    width: 397px;
    margin-right: 30px;
}

.cert__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-top: 48px;
    margin-bottom: 32px;
}

.cert__logoList {
    display: flex;
    gap: 38px;
}

.cert__img {
    margin-bottom: -50px;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
}

.cert__inner::before {
    content: '';
    position: absolute;
    background: url("../assets/img/3weteach/shapes.svg") 0% 0% /cover no-repeat;
    top: -30px;
    left: -120px;
    width: 60px;
    height: 60px;
}

/*===================================================== Our Team =====================================================*/
/*===================================================== Our Team =====================================================*/

.team__heading {
    position: relative;
    padding-top: 170px;
    margin-bottom: 60px;
}

.team {
    background: url(../assets/img/4ourteam/decor.svg) 50% 83px /1734px 597px no-repeat, #F4F5F7;
}

.team__slide {
    height: 416px;
    position: relative;
    transition: 0.3s;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.team__imgbox--1 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group5.jpg);
    transition: all 0.3s;
}

.team__imgbox--2 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group4.jpg);
    transition: all 0.3s;
}

.team__imgbox--3 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group6.jpg);
    transition: all 0.3s;
}

.team__imgbox--4 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group7.jpg);
    transition: all 0.3s;
}

.team__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
    padding: 20px;
    background-color: transparent;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    width: 80px;
    height: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    transition: 1s;
    opacity: 0;
}

.team__slide:hover .team__social {
    opacity: 1;
}

.team_socialLink g {
    transition: all 0.5s;
}

.team_socialLink:hover g {
    opacity: 1;
}

.team__imgTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 4px;
}

.team__imgSubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    text-align: center;
}

.team_socialLink {
    transition: 0.3s;
}

.team_socialLink:hover {
    filter: drop-shadow(3px 3px 0px black);
}

.team__slider .slick-list {
    margin: 0px -15px;
}

.team__arrowBox {
    position: absolute;
    right: -10px;
    bottom: -10px;
}

.team__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(255, 63, 58, 0);
    transition: 0.5s;
    cursor: pointer;
}

.team__arrow:hover {
    background-color: rgba(255, 63, 58, 1);
}

.team__arrow:hover svg path {
    transition: 0.5s;
}

.team__arrow:hover svg path {
    fill: white;
}

/*===================================================== Testimonials =====================================================*/
/*===================================================== Testimonials =====================================================*/

.testimonials {
    background: url("../assets/img/5studentsay/decor.svg") calc(50% + 100px) 115px / auto no-repeat, #F4F5F7;
}

.testimonials__heading {
    padding-top: 180px;
    text-align: center;
}

.testimonials__sliderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    padding-bottom: 255px;
}

.team__arrow {
    min-width: 48px;
}

.testimonials__slider {
    width: 1020px;
    background-color: #fff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.testimonials__slideInner>img {
    display: inline-block;
    margin-right: 30px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: auto;
    vertical-align: top;
}

.testimonials__blockquote {
    display: inline-block;
    max-width: 752px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
}

.testimonials__user {
    display: flex;
    margin-left: 58px;
    margin-top: 24px;

}

.testimonials__userDesc {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 72px;
    padding: 0px 20px;
}

.testimonials__user>img {
    border-radius: 50%;
}

.testimonials__userName {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin-bottom: 4px;
}

.testimonials__userPosition {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.testimonials__slideInner {
    padding: 64px 0px;
    margin: 0px auto;
    width: 810px;
    background-color: #fff;
}

.slick-dots {
    position: absolute;
    left: calc(50% - 99px);
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    width: 198px;
}

.slick-dots li button {
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #B3B7BC;
}

.slick-dots li {
    background-color: transparent;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0px;
    margin: 15px 0px;
}

li.slick-active>button {
    background-color: #424551;
    transition: 0.3s;
}

/*===================================================== Companies =====================================================*/
/*===================================================== Companies =====================================================*/
.companies {
    background: #F4F5F7;
    padding-bottom: 153px;
}

.companies__heading {
    text-align: center;
    margin-bottom: 60px;
}

.companies__grid {
    display: grid;
    position: relative;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    grid-gap: 40px 102px;
}

.companies__link {
    filter: grayscale(100);
    opacity: 0.4;
    transition: 1.5s;
}

.companies__link:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: 0.5s;
}

.companies__grid::before {
    content: "";
    position: absolute;
    background: url("../assets/img/6studentswork/shapes.svg") 0% 0% / contain no-repeat;
    width: 68px;
    height: 75px;
    left: -180px;
    bottom: calc(-50%);
}

/*===================================================== Program =====================================================*/
/*===================================================== Program =====================================================*/
.program__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 115px 0px 185px;
}

.program__heading {
    margin-bottom: 36px;
    font-size: 0px;
}

.program__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    display: inline-block;
    margin-top: 24px;
    position: relative;
}

.program__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-top: 16px;
    display: none;
}

.program__accTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FF3F3A;
}

.program__link {
    display: block;
    padding-left: 40px;
}

.program__header::before,
.program__header::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: #FF3F3A;
    top: 50%;
    left: -40px;
}

.program__header::after {
    transform: rotate(90deg);
    transition: 0.3s;
}

.program__acc {
    width: 600px;
}

.program__link--active .program__header::after {
    transform: rotate(0deg);
}

/*===================================================== Blog =====================================================*/
/*===================================================== Blog =====================================================*/
.blog__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
}

.blog__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 213px;
}

.blog__imgbox img {
    width: auto;
}

.blog__imgbox {
    height: 300px;
    padding: 12px;
}

.blog__imgbox--left {
    background: url('../assets/img/8blog/image(3).jpg') 50% 50% / cover no-repeat;
}

.blog__imgbox--center {
    background: url('../assets/img/8blog/image.jpg') 50% 50% / cover no-repeat;
}

.blog__imgbox--right {
    background: url('../assets/img/8blog/image(2).jpg') 50% 50% / cover no-repeat;
}

.blog__icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 8px;
    line-height: 23px;
    border-radius: 4px;
}

.blog__icon img {
    margin-right: 4px;
}

.blog__desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    padding: 16px 0px 8px;
}

.blog__desc span {
    position: relative;
    margin-right: 24px;
}

.blog__desc span::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 1px;
    background-color: #787A80;
    top: calc(50% - 6px);
    right: -12px;
}

.blog__span--right::after {
    display: none;
}

.blog__desc img {
    margin-right: 9px;
}

.blog__itemTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 16px;
}

.blog__item>span {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1E212C;
    margin-right: 8px;
    vertical-align: bottom;
}

.blog__item {
    cursor: pointer;
    transition: 0.5s;
}

.blog__item:hover>span {
    color: #F75E05;
}

.blog__item:hover {
    transform: scale(1.05);
}

/*===================================================== Contact =====================================================*/
/*===================================================== Contact =====================================================*/
.contact__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 180px;
    gap: 15px;
}

.contact__map {
    height: 412px;
    max-width: 705px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
}

.contacts__list {
    padding: 40px 0px 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
}

.contacts__item h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #787A80;
}

.contacts__item {
    position: relative;
    padding-left: 36px;
}

.contacts__item:not(:last-of-type) {
    margin-bottom: 24px;
}

.contacts__item::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0px;
}

.contacts__item--mail::after {
    background: url("../assets/img/9contacts/Chat.svg") 0% 0% / 100% no-repeat;
}

.contacts__item--tel::after {
    background: url("../assets/img/9contacts/iPhone.svg") 0% 0% / 100% no-repeat;
}

.contacts__item--pin::after {
    background: url("../assets/img/9contacts/outline.svg") 0% 0% / 100% no-repeat;
}

.contact__follow {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 24px;
}

.contact__socials {
    display: inline-flex;
    justify-content: space-between;
    gap: 32px;
}

.contact__icon {
    cursor: pointer;
}

.contacts__item a {
    cursor: pointer;
    transition: 0.3s;
}

.contact__icon:hover path {
    fill: #FF3F3A;
    transition: 0.5s;
}

.contacts__item>a:hover {
    color: #FF3F3A;
}

/*===================================================== Form =====================================================*/
/*===================================================== Form =====================================================*/
.form {
    padding-bottom: 180px;
}

.form__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__imgbox {
    max-width: 435px;
    width: 100%;
    object-fit: contain;
}

.form__questions {
    max-width: 705px;
    width: 100%;
    margin-left: 15px;
}

.form__heading {
    margin-bottom: 40px;
}

.form__form {
    width: 100%;
}

.form__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
    margin-bottom: 24px;
}

.form__label {
    flex: 1 1 auto;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 8px;
}

.form__input {
    width: 100%;
}

.form__input,
.form__textarea {
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding: 13px 0px 13px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.form__textarea {
    height: 128px;
    width: 100%;
    margin-bottom: 48px;
    resize: none;
}

.form__textarea::placeholder,
.form__input::placeholder {
    color: #9A9CA5;
}

.form__text {
    display: flex;
    justify-content: space-between;
}

.form__text span {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-left: 12px;
    color: #424551;
}

.form__btn {
    height: 52px;
    width: 100%;
    max-width: 340px;
    align-self: center;
    margin-left: 15px;
}

.form__text>div {
    display: flex;
}

.form__checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-right: 12px;
}

.form__checkbox--default {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.form__checkbox--custom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid #424551;
    border-radius: 3px;
    cursor: pointer;
}

.form__checkboxLabel {
    display: flex;
}

.form__checkbox--default:checked+.form__checkbox--custom {
    background: url("../assets/img/10questions/checkbox/check.svg") 50% 50% / 10px 8px no-repeat, #FF3F3A;
    border: none;
}

/*===================================================== Footer =====================================================*/
/*===================================================== Footer =====================================================*/
.footer {
    background-color: #1E212C;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 80px 0px 60px;
}

.footer__logo {
    max-width: 280px;
}

.footer__desc {
    margin: 24px 0px 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}
.footer__socials {
    gap: 20px;
}
.footer__icon:hover path {
    fill: white;
}
.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    white-space: nowrap;
}

.footer__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    transition: 0.3s;
}

.footer__item:not(:last-of-type) {
    margin-bottom: 8px;
}

.footer__signUp {
    position: relative;
    max-width: 286px;
}

.footer__label {
    height: auto;
    margin-top: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer__title:last-of-type {
    margin-bottom: 24px;
}
.footer__email {
    height: 36px;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 9px 40px 9px 12px;
    color: #fff;
}

.footer__email::placeholder {
    color: #fff;
    opacity: 0.6;
}

.footer__item--contact {
    position: relative;
    padding-left: 24px;
}

.footer__item--contact::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    left: 0;
}

.footer__item--mail::after {
    background: url("../assets/img/11footer/Mail.svg") 50% 50% / 100% no-repeat;
}

.footer__item--tel::after {
    background: url("../assets/img/11footer/iPhone.svg") 50% 50% / 100% no-repeat;
}

.footer__label>button {
    position: absolute;
    background-color: transparent;
    top: 58px;
    right: 14px;
}

.footer__label>button:hover path {
    fill: white;
}

.footer__subfooter {
    background-color: rgba(217, 217, 217, 0.05);
}

.subfooter__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.footer__copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer__copy>svg {
    margin: 0px 4px;
}

.footer__gotop {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    transition: 0.3s;
}

.footer__gotop:hover {
    opacity: 1;
}
.footer__item:hover {
    opacity: 1;
}
/*===================================================== Responsive =====================================================*/
/*===================================================== Responsive =====================================================*/
.burger {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    z-index: 2;
    display: none;
    transition: 0.3s;
}
.burger--follow {
    background-color: #FEDDD0;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(255, 63, 58, 0.5);
}
.burger__row {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #FF3F3A;
    border-radius: 5px;
    margin: 5px 0px;
}
.burger::after,
.burger::before {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #FF3F3A;
    border-radius: 5px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.overlay--show {
    visibility: visible;
    opacity: 1;
}
.burger--exit .burger__row {
    transform: rotate(45deg);
    margin: 0;
    transition: 0.3s;
}
.burger--exit::after {
    transform: rotate(135deg);
    margin-top: -5px;
}
.burger--exit::before {
    display: none;
}
