.wrapper {
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    max-width: 1230px;
    width: 90vw;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    position: relative;
    line-height: 52px;
    font-size: 16px;
    color: #fff;
    padding: 0 40px;
    background-image: linear-gradient(to right, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 700;
}

.button:hover {
    transform: scale(1.05);
}

body {
    font-family: lato, sans-serif;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.heading__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/*===================================================== Header Top =====================================================*/
/*===================================================== Header Top =====================================================*/

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424551;
    padding-top: 20px;
}

.header {
    font-weight: 700;
    background: url("../assets/img/1header/Group2.svg") 50% 33% /2050px no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.header__logo {
    transition: 0.3s;
}

.header__logo:hover {
    transform: scale(1.05);
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    white-space: nowrap;
}

.header__nav-item {
    margin-right: 40px;
    line-height: 1.6;
}


.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-item:first-child {
    margin-left: 60px;
}

.header__btnbox {
    line-height: 1.6;
    white-space: nowrap;
}

.header__button {
    margin: 0px 36px;
}

.header__button-log {
    margin-left: 8px;
    transition: all 0.3s;
}

.header__button-log:hover {
    color: #FF3F3A;
}

.header__button-registr {
    transition: all 0.3s;
}

.header__button-registr:hover {
    color: #FF3F3A;
}

.header__btnbox-img {
    vertical-align: text-bottom;
}

.header__nav-link:hover {
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

/*===================================================== Header Main =====================================================*/
/*===================================================== Header Main =====================================================*/

.header__main-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}

.header__content-btnbox {
    display: flex;
}

.header__content-play {
    display: inline-block;
    font-size: 14px;
    padding: 16px 0px;
    cursor: pointer;
    background-color: transparent;
}

.header__play-btn {
    border-radius: 50%;
    transition: 0.3s;
}

.header__play-btn:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 63, 58, 0.12);
}

.header__play-text {
    line-height: 52px;
    margin-left: 16px;
    color: #1E212C;
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 130%;
    width: 496px;
    margin: 24px 0px 60px 0px;
    color: #1E212C;
}

.button--empty {
    margin-right: 24px;
}

.button--empty:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: #ffdad5;
    border-radius: 3px;
    height: 50px;
    width: 146px;
}

.button--empty:before {
    content: "About us";
    position: absolute;
    z-index: 1;
    background-color: #F75E05;
    background-image: linear-gradient(90deg, #FF3F3A, #F75E05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__main-img {
    margin-left: 30px;
}

.header__statist-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    white-space: nowrap;
    margin-top: 189px;
    padding-bottom: 80px;
    gap: 130px;
}

.header__statist-item {
    display: flex;
    align-items: center;
    position: relative;
}

.header__statist-item>span {
    font-size: 46px;
    font-weight: 900;
    margin-right: 12px;
    line-height: 60px;
}

.header__statist-item:after {
    content: "";
    position: absolute;
    left: calc(100%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FF3F3A;
    margin: 0px 70px;
}

.header__statist-item:last-child:after {
    display: none;
}

/*===================================================== Main =====================================================*/
/*===================================================== Main =====================================================*/

/*===================================================== About Us=====================================================*/
/*===================================================== About Us=====================================================*/

.about__inner {
    color: #1E212C;
}

.about__createx {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin: 180px 0px;
}

.about__createx-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 60px;
    width: 600px;
}

.about__createx-text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 48px;
    margin-bottom: 24px;
    width: 600px;
}

.about__createx-img {
    margin-left: 30px;
}

.button--about-empty:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: #fff;
    border-radius: 3px;
    height: 50px;
    width: 191px;
}

.button--about-empty:before {
    content: "Explore events";
    position: absolute;
    z-index: 1;
    background-color: #F75E05;
    background-image: linear-gradient(90deg, #FF3F3A, #F75E05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button--about-empty {
    margin-right: 24px;
}

.about__item span {
    font-size: 46px;
    font-weight: 900;
    margin-right: 16px;
    margin-left: 30px;
    line-height: 60px;
    color: #FF3F3A;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.about__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 62px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.about_values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.about__createx::before {
    content: '';
    position: absolute;
    background: url("../assets/img/2aboutus/shapes.svg") 0% 0% /cover no-repeat;
    top: -107px;
    right: -139px;
    width: 88px;
    height: 80px;
}

/*=====================================================Direction=====================================================*/
/*=====================================================Direction=====================================================*/

.direction-heading {
    text-align: center;
    white-space: nowrap;
}

.direction__list {
    display: flex;
    gap: 45px;
    margin-top: 90px;
    margin-bottom: 56px;

}

.direction__item {}

.direction__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    padding: 1px 8px;
    background-color: transparent;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    transition: 0.3s;
    white-space: nowrap;
}

.direction__button:hover {
    background-color: #FF3F3A;
    color: #fff;
    cursor: pointer;
    border: 1px solid #FF3F3A;
}

.direction__button--active {
    background-color: #FF3F3A;
    color: #fff;
    border: 1px solid #FF3F3A;
}

.direction__grid {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 420px);
    grid-gap: 30px;
    margin-bottom: 178px;
}

.direction__grid-item:hover span {
    color: #FF3F3A;
    transition: 0.3s;
}

.direction__grid-item {
    transition: 1s;
}

.direction__grid-item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: 0.3s;
}

.direction__grid-img {
    border-radius: 4px 4px 0px 0px;
}

.direction__grid-button {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    padding: 1px 8px;
    border-radius: 4px;
}

.direction__grid-arrow span {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    margin-right: 11px;
    transition: 1s;
}

.direction__grid-arrow span,
img {
    vertical-align: middle;
}

.direction__grid-arrow {
    display: inline-block;
    cursor: pointer;
}

.direction__grid-button--green {
    background: #03CEA4;
}

.direction__grid-button--blue {
    background: #5A87FC;
}

.direction__grid-button--orange {
    background: #F89828;
}

.direction__grid-button--pink {
    background: #F52F6E;
}

.direction__grid-button--violet {
    background: #7772F1;
}

.direction__grid-item--empty {
    background-color: #F4F5F7;
    border-radius: 4px;
}

.direction__grid-text--empty {
    display: inline-block;
    text-align: center;
    width: 242px;
    margin-top: 164px;
    margin-left: 74px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
}

.direction__grid-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin-top: 21px;
    margin-bottom: 20px;
}

.direction__inner {
    position: relative;
}

.direction__inner:before {
    position: absolute;
    content: '';
    background: url("../assets/img/3weteach/decor_dots.svg") 0px 0px /cover no-repeat;
    width: 136px;
    height: 115px;
    left: -162px;
    top: 19px;
}

.direction__inner:after {
    position: absolute;
    content: '';
    background: url("../assets/img/3weteach/Group.svg") 0px 0px /cover no-repeat;
    width: 242px;
    height: 242px;
    right: -483px;
    top: 382px;
    opacity: 0.12;
}

.direction__border {
    border: 1px solid #E5E8ED;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    padding: 24px;
}

/*=====================================================Certificate=====================================================*/
/*=====================================================Certificate=====================================================*/

.cert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cert__textBox {
    width: 397px;
    margin-right: 30px;
}

.cert__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-top: 48px;
    margin-bottom: 32px;
}

.cert__logoList {
    display: flex;
    gap: 38px;
}

.cert__img {
    margin-bottom: -50px;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
}

.cert__inner::before {
    content: '';
    position: absolute;
    background: url("../assets/img/3weteach/shapes.svg") 0% 0% /cover no-repeat;
    top: -30px;
    left: -120px;
    width: 60px;
    height: 60px;
}

/*===================================================== Our Team =====================================================*/
/*===================================================== Our Team =====================================================*/

.team__heading {
    position: relative;
    padding-top: 170px;
    margin-bottom: 60px;
}

.team {
    background: url(../assets/img/4ourteam/decor.svg) 50% 83px /1734px 597px no-repeat, #F4F5F7;
    padding-bottom: 180px;
}
.team__slide {
    height: 416px;
    position: relative;
    transition: 0.3s;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.team__imgbox--1 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group5.jpg);
    transition: all 0.3s;
}

.team__imgbox--2 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group4.jpg);
    transition: all 0.3s;
}

.team__imgbox--3 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group6.jpg);
    transition: all 0.3s;
}

.team__imgbox--4 {
    height: 340px;
    background: url(../assets/img/4ourteam/Group7.jpg);
    transition: all 0.3s;
}

.team__social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
    padding: 20px;
    background-color: transparent;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    width: 80px;
    height: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    transition: 1s;
    opacity: 0;
}

.team__slide:hover .team__social {
    opacity: 1;
}

.team_socialLink g {
    transition: all 0.5s;
}

.team_socialLink:hover g {
    opacity: 1;
}

.team__imgTitle {
    font-weight: 700;
font-size: 20px;
line-height: 150%;
color:#424551;
text-align: center;
margin-top: 16px;
margin-bottom: 4px;
}

.team__imgSubtitle {
    font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #787A80;
text-align: center;
}

.team_socialLink {
    transition: 0.3s;
}

.team_socialLink:hover {
    filter: drop-shadow(3px 3px 0px black);
}

.team__slider .slick-list {
    margin: 0px -15px;
}

.team__arrowBox {
    position: absolute;
    right: -10px;
    bottom: -10px;
}

.team__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(255, 63, 58, 0);
    transition: 0.5s;
}

.team__arrow:hover {
    background-color: rgba(255, 63, 58, 1);
}

.team__arrow:hover svg path {
    transition: 0.5s;
}

.team__arrow:hover svg path {
    fill: white;
}